
/* UTILIZZO UN FOGLIO DI CSS A PARTE SOLO PER LE ANIMAZIONI */

/* ESERCIZIO 1 */

.ex-1-square{
    transition: background-color 2s;
}

.ex-1-square:hover{
    background-color: red;
}

/* ESERCIZIO 2 */

.ex-2-square {
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* ESERCIZIO 3 */

.ex-3-square{
    transition: border-radius 0.6s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* ESERCIZIO 4 */

.ex-4-square {
    transition: background-color 1s;
}

.ex-4-square:hover {
    background-color: transparent;
}

/* ESERCIZIO 5 */ 

.ex-5-square{
    transition: width 1s, height 1s, margin 1s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
    margin: 0px;
}

.ex-5-square:active{
    width: 30px;
    height: 30px;
    margin: 35px;
}

/* Non sono sicuro di aver fatto bene a toccare il margine */

/* ESERCIZIO 6 */ 

.ex-6-img:hover{
    filter: grayscale();
}

/* ESERCIZIO 7 */ 

.ex-7-img{
    transition: filter 1s;
}

.ex-7-img:hover{
    filter: sepia(50%) contrast(90%);
}

/* ESERCIZIO 8 */ 

.ex-8-img{
    transition: border-radius 2s, filter 2s;
}

.ex-8-img:hover{
    border-radius: 20px;
    filter: saturate(30%) sepia(40%);
}

/* ESERCIZIO 9 */

.ex-9-img{
    transition: width 2s, margin 2s, filter 2s, border-radius 2s; 
}

.ex-9-img:hover{
    width: 575px;
    margin: 0px 0px;
    border-radius: 20px;
    filter: grayscale(80%) sepia(50%);
}

/* ESERCIZIO 10 */

.ex-10-icon{
    animation-name: spinning;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinning{
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ESERCIZIO 11 */

.ex-11-icon{
    transition: transform 1s linear;
}

.ex-11-icon:hover{
    transform: rotate(300deg);
}
/* Indagare per farlo tornare indietro velocemente */


/* ESERCIZIO 12 */

